.BoxDiv{
    max-height: 100vh;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #363062;
    padding: 0;
    margin: 0;
}

.Span{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.starDiv{
   text-align: end;
}

/* .tri-main{
    margin-top: 20px;
} */